# package
recursive-include requirements *.in *.unlock *.lock
# recursive-include tests *.yml
prune tests

# mypy
prune .mypy_cache

# coverage
exclude coverage.json
exclude coverage.xml
exclude .coverage

# git
graft .git

prune build
prune dist
prune *.egg-info

global-include *.pyi
global-include py.typed
